body {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.jobnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    min-width: 100%;
    

    height: 100px;
    /* border: 2px solid black; */
    box-shadow: 1px 2px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: white;

}

.section {
    width: 800px;
    display: flex;
    /* border: 2px solid; */
    justify-content: space-around;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}

.b1 {
    padding: 20px 20px;
    padding-left: 15px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(226, 225, 225);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.b1:hover {
    letter-spacing: 3px;
    background-color: hsl(128, 73%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(65, 198, 69) 0px 7px 29px 0px;
}

.b1:active {
    letter-spacing: 3px;
    background-color: hsl(124, 73%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(65, 198, 69) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

a {
    text-decoration: none;
    color: black;
}

.advertisement {
    width: 93vw;
    height: 200px;
    background-color: rgb(65, 198, 69);
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 150px;
    display: flex;
    /* margin-left: 5px; */


}

.p2 {
    font-size: xx-large;
    margin-right: 5px;
    margin-left: 5px;
    height: 100px;
}

.p1 {
    padding-left: 8px;
}

.adverbtn {
    width: 100px;
    height: 60px;
    margin-top: 120px;
    border-radius: 40px;
    /* margin-right: 100px; */
    background-color: white;
    border: none;
    transition: all .5s ease;

}

.adverbtn:hover {
    transition: transform .2s;
    transform: scale(1.1);
    transition: all .2s ease-in;
    background-color: rgb(241, 243, 244);
    box-shadow: rgba(19, 227, 19, 0.334) 0px -23px 25px 0px inset, rgba(10, 240, 10, 0.15) 0px -36px 30px 0px inset, rgba(23, 250, 15, 0.1) 0px -79px 40px 0px inset, rgba(10, 255, 1, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: none;
}

.p1 {
    color: rgb(252, 254, 255);
    font-size: xx-large;
}

.rating {
    background-color: aliceblue;
    margin: 5px;
    border-radius: 8px;
}

.fa-solid {
    margin-bottom: px;
    margin-left: 8px;
    color: gold;

}

.loginbtn {
    margin-right: 8px;
}

.about {
    width: 700px;
}

.p3 {
    font-size: larger;
    /* padding-left: 200px; */

}

.about {
    margin-left: 200px;
}

h2 {
    font-size: xx-large;
    color: rgb(9, 147, 21);
}

.comp-info {
    display: flex;
    width: 100%;
    height: 250px;
    /* padding-left: 230px; */
    justify-content: space-around;
    /* border: 1px solid; */
}

.comp {
    background-color: rgb(65, 198, 69);
    width: 400px;
    height: 200px;
    border-radius: 23px;

}

.cp {
    color: rgb(65, 198, 69);
}

/* .comp:hover{
    transition: transform .2s;
    transform: scale(1.1);
    transition: all .2s ease-in;
    transition: all .3s ease-out;
} */

.p5 {
    padding-left: 12px;
    font-size: x-large;
    text-decoration: solid;
    margin-left: 0px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;

}

.comp-sign-btn {
    margin-left: 140px;
    margin-top: 40px;
    width: 120px;
    height: 50px;
    border-radius: 2.5px;
    border: none;

}

.comp-sign-btn:hover {
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(19, 227, 19, 0.334) 0px -23px 25px 0px inset, rgba(10, 240, 10, 0.15) 0px -36px 30px 0px inset, rgba(23, 250, 15, 0.1) 0px -79px 40px 0px inset, rgba(10, 255, 1, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all .3s ease;
}

.comp-login-btn {
    margin-left: 140px;
    margin-top: 40px;
    width: 120px;
    height: 50px;
    border-radius: 2.5px;
    border: none;


}

.comp-login-btn:hover {
    background-color: rgb(249, 250, 248);
    box-shadow: rgba(19, 227, 19, 0.334) 0px -23px 25px 0px inset, rgba(10, 240, 10, 0.15) 0px -36px 30px 0px inset, rgba(23, 250, 15, 0.1) 0px -79px 40px 0px inset, rgba(10, 255, 1, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all .10s ease;
}

.card {

    width: 250px;
    height: 254px;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px hsl(188, 23%, 81%),
        -15px -15px 20px #c5d5da;

}

.card:hover {

    transition: all .3s ease;
    border: 1px solid rgb(8, 8, 8);
    text-align: inherit;
}

.allcard {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
}

h4 {
    margin-left: 370px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    margin-left: 70px;
    color: rgb(13, 166, 39);
}

.lorem {
    margin-left: 10px;
}

.end {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    color: rgb(249, 250, 248);
    height: 300px;
    align-items: flex-end;
    background-color: black;
}

.end img {
    transform: translate(360px, -160px);
}

.list {
    transform: translate(-300px);
}

li {
    margin: 8px;
}
.menu div{
    color: black;
    font-size:small;
    font-weight: 1200;
    /* display: none; */
    visibility: hidden;

}
#check{
    transform: translateX(1040px);
}
.resnav{
    display: flex;
    align-items: center;

}
.section a{
    text-transform: uppercase;
    font-weight: 800;
}

@media (max-width:952px) {
    .jobnav {
        display: flex;     /* flex-direction: column; */
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }
    .list{
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    .allcard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
    /* border: 2px solid; */
        padding-left: 20px;
        padding-right: 20px;
        height: 900px;
    }
    .card {

        width: 90%;
        height: 254px;
        gap: 20px;
        border-radius: 10px;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px hsl(188, 23%, 81%),
            -15px -15px 20px #c5d5da;
    
    }
    .comp-sign-btn {
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 10px;
        width: 120px;
        height: 50px;
        border-radius: 2.5px;
        border: none;
    
    }
    .comp-login-btn {
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 10px;
        width: 120px;
        padding: 20px;
        height: 50px;
        border-radius: 2.5px;
        border: none;
    
    
    }
    .comp-info {
        
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        /* height: px; */
        /* padding-left: 230px; */
        justify-content: space-around;
    }
    .advertisement {
        width: 90%;
        height: 200px;
        background-color: rgb(65, 198, 69);
        border-radius: 8px;
        margin-left: 30px;
        margin-top: 200px;
        display: flex;
        
        /* margin-left: 5px; */
 
    }
    .comp {
        background-color: rgb(65, 198, 69);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 200px;
        border-radius: 23px;
    
    }
    .about{
        width: 100%;
        margin: 0;
        padding: 20px;
        margin-bottom: 70px;
    }
    h4{
        margin-top: 100px;
        margin-left: 20px;
    }
    .section {
        width: 260px;
        display: flex;
        inset: 0;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        border: .5px solid;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-740px);
        transition:1s
    }
    .close{
        transform: translateX(-1040px);
    }
    .section a{
        text-transform: uppercase;
        font-weight: 800;
    }
    .menu div{
        color: black;
        font-size:small;
        font-weight: 1200;
        visibility: visible;
        margin-right: 20px;
        
    
    }
    #check:checked ~ .section{transform: translate(20px,240px)} 
}