body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: auto;
    background: rgb(196, 212, 212);
    /* background: linear-gradient(90deg, rgba(26,91,92,1) 0%, rgba(36,207,157,1) 44%, rgba(0,212,255,1) 100%); */
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub{
   padding-left: 10px;
   padding-right: 10px;
}
.job {
    width: 470px;
    height: 290px;
    margin:10px;
    border: 1PX SOLID black;
    background-color: #f8fafb;
    border-radius: 20px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
.job:hover{

    transition: transform .6;
    transform: scale(1.1);
    transition: all .2s ease-in;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
   
.icon{
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   }
   
   button {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
   }
   
   button:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(2,126,251,1) 100%);
   }

h1{
    margin-left: 170px;
}
p{
    color: #0f52af;
}