<link rel="stylesheet" href="/stylesheets/company-home.css">


<h1>{{company.companyname}}</h1>
<a href="/company/logout"><button>log out</button></a>
<div>
    <p>The description is a type of text, such as narrative or argumentative, which consists of a detailed explanation
        about something, in a way that allows recreating a clear idea of what is being described.</p>
    <img src="https://www.englishgrammar.org/wp-content/uploads/2014/03/Office-workplace-meeting-laptop-30213346.jpg" alt="">
</div>
<div class="links">
    <a href="/company/jobupload">Job upload</a><br>
    <a href="/company/viewappliedjob">view applied job</a><br>
     <a href="/company/companyprofileupdate">Update profile</a>
    <a href="/company/compjobview">view job list</a>
    <a href="/company/editprofile">Edit Profile</a>
   

</div>