<link rel="stylesheet" href="/stylesheets/company-signup.css">

 <form action="/company/companyylogin" method="post">
       <h1>Sign Up</h1>
       <h2>Company Username</h2>
       <input type="text" placeholder="enter name" name="companyname">
       <h2>Gmail</h2>
       <input type="text" placeholder="enter gmail" name="gmail">
       <h2>Password</h2>
       <input type="password" placeholder="enter password" name="password">
       <h2>Phone</h2>
       <input type="text" placeholder="enter phone number" name="phone">
       <h2>Company Type</h2>
       <input class="experience" type="text" placeholder="about" name="type"><br>
       <button>submit</button>

    </form>