<link rel="stylesheet" href="/stylesheets/company-login.css">

<h1>COMPANY LOGIN</h1>
<h2>Company Username</h2>
<input class="username" type="text" placeholder="Username">
<h2>Password</h2>
<input class="password" type="text" placeholder="Password"><br>
<button>Login</button>