<link rel="stylesheet" href="/stylesheets/company-login.css">
<form action="/company/companyloginpage" method="post">
<h1>COMPANY LOGIN</h1>
<h2>Company Gmail</h2>
<input class="username" type="text" placeholder="Username" name="gmail">
<h2>Password</h2>
<input class="password" type="text" placeholder="Password" name="password" required><br>
<button>Login</button>
</form>