<link rel="stylesheet" href="/stylesheets/company-signup.css">

 <form action="">
       <h1>Sign Up</h1>
       <h2>Name</h2>
       <input type="text" placeholder="enter name">
       <h2>Gmail</h2>
       <input type="text" placeholder="enter gmail">
       <h2>Password</h2>
       <input type="password" placeholder="enter password">
       <h2>Phone</h2>
       <input type="text" placeholder="enter phone number">
       <h2>Experience</h2>
       <input class="experience" type="text" placeholder="about"><br>
       <button>submit</button>

    </form>