<link rel="stylesheet" href="/stylesheets/compjobupload.css">

<form action="/company/jobuploaddata" method="post">
    <h1>JOB UPLOAD</h1>
    <H2>Job Title</H2>
    <input type="text" name="title">
    <h2>Discription</h2>
    <input type="text" name="discription">

    <h2>Qualification</h2>
    <input type="radio" name="qualification" value="diploma">
    <label>Diploma</label>
    <input type="radio" name="qualification" value="degree gradute">
    <label for="">Degree graduate</label>
    <input type="radio" name="qualification" value="above">
    <label for="">Above</label><br>

    <h2>Veccancy</h2>
    <input type="text" name="veccancy">
    <h2>Salary</h2>
    <input type="number" name="salary">
    <h2>Experience</h2>
    <select name="experience" id="" >
        <option  value="fresher" >fresher</option>
        <option  value="2year">2 year</option>
        <option  value="above">above</option>
    </select>
    <h2>Lastdate</h2>
    <input type="date" name="lastdate">
    <h2>Job Type</h2>
     <input type="radio" name="jobtype" value="fulltime">
    <label for="">full time</label>
    <input type="radio" name="jobtype" value="parttime">
    <label for="">part time</label><br>
    <button type="submit">submit</button>
</form>

<img src="https://devrabbit.com/images/company.jpg" alt="">