<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/stylesheets/viewjobcomp.css">



<div class="job">

<h1>job title</h1>
<p>qulification</p>
<p>veccany</p>
<p>salary</p>
<p>experiance</p>
<p>dte posted</p>
<p>last date</p>
<p>job type</p>
<p>JOB STATUS</p>
<div class="icon">
<a href=""><i class="fa-solid fa-pen-to-square"></i>
</a>
<a href=""><i class="fa-solid fa-trash"></i>
</a>
 </div>
</div>
