  <link rel="stylesheet" href="/stylesheets/home.css">


<body>
    <div class="jobnav">
        <img src="images/job.png" alt="">
        <a href="/view-user-application">appiled job</a>
        <a href="">Company</a>
        <a href="">Review</a>
        <a href="/usersignup" class="b1 signup-btn">signup</a>
        <a href="/userlogin" class="b1 loginbtn">login</a>
    </div>
    <div class="advertisement">
        <p class="p1">FIND BEST JOB FOR YOU</p><br>
      <a href="/viewjobuser"><button class="adverbtn">Find Work</button></a>
        <div class="rating">
            <P class="p2">proffesional on upwork reating client</P>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star1"></i>
            <i class="fa-solid fa-star1"></i>
        </div>

    </div>
    <div class="about">
        <h2>About</h2>
        <p class="p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod tenetur laboriosam natus
            quascupiditate nesciunt quaerat similique expedita incidunt deserunt quae suscipit quibusdam quia maiores
            commodi
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi libero saepe, ducimus illo rem eius
            culpa vero, facere quas totam aut consectetur nihil. Magnam eos, placeat quos atque vel corrupti?
    </div>
    <div class="comp-info">
        <DIV class="comp">
            <P class="p5">COMPANY LOGIN</P>
         <a href="/company/companylogin"><BUTton class="comp-login-btn">LOGIN</BUTton></a>
        </DIV>
        <DIV class="comp">
            <P class="p5">COMPANY SIGNUP</P>
           <a href="/company/companysignup"><BUtton class="comp-sign-btn">SIGN</BUtton></a>
        </DIV>
    </div>
             <h4>Reffered Companies</h4>
    <div class="allcard">

        <div class="card">
            <h3>Indoassian</h3>
            <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quod architecto soluta accusantium, incidunt ut animi consequuntur dolorem? Libero, voluptates fuga aliquid minus explicabo illo possimus et ex delectus quas!</p>
        </div>
        <div class="card">
            <h3>HighSight</h3>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, eius harum amet quibusdam ipsam repellendus numquam neque molestiae! Officiis eaque, autem blanditiis vel pariatur quaerat. Nisi repellendus esse distinctio facere.</p>
        </div>
        <div class="card">
            <h3>Thinkers</h3>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est placeat, nisi adipisci aut itaque voluptatibus maxime voluptate praesentium tempora dolorem? Ut alias voluptas ex error placeat numquam, sit a excepturi?</p>
        </div>

    </div>
    <div class="end">
    <ul>
        <li>Contact number : 9188453506</li>
        <li>FAQ</li>
        <li>Privacy</li>
    </ul>
    <ul>
        <li>salaries</li>
        <li>Terms and Condition</li>
        <li>cookies</li>
    </ul>
    </div>

</body>


<a href=""></a>