<link rel="stylesheet" href="/stylesheets/user-updateprofile.css">

<h1>user profile update</h1>
<form action="/userprofile" method="post" enctype="multipart/form-data">
    <h2>about</h2>
    <textarea name="about" id="" cols="30" rows="10"></textarea>
    <h2>qualification</h2>
    <textarea name="qualification" id="" cols="30" rows="10"></textarea>
    <h2>skills</h2>
    <textarea name="skill" id="" cols="30" rows="10"></textarea>
    <h2>experiance</h2>
    <textarea name="experiance" id="" cols="30" rows="10"></textarea>
    <h2>upload image</h2>
    <input type="file" name="image" id="" accept=".jpg">
    <h2>upload resume</h2>
    <input type="file" name="resume" id="" accept=".pdf">
    <h2>job catagory</h2>
    <input type="text" name="jobcatagory">
    <h2>language</h2>
    <input type="text" name="language" id=""><br>
    <button>submit</button>
</form>