
<link rel="stylesheet" href="/stylesheets/userlogin.css">

  <form action="/userloginpage" class="login" method="post">
        <h1>LOGIN</h1>
        <h2>Gmail</h2>
        <input type="text" placeholder="enter username" name="email">
        <h2>Password</h2>
        <input type="password" placeholder="enter password" name="password"><br>    
        <button>login</button>
    </form> 
    