<link rel="stylesheet" href="/stylesheets/userhome.css
">


<h1>userhome</h1>
<a href="/view-user-application">VIEW APPLIED JOBS</a><br>
<a href="/viewjobuser">VIEW ALL JOBS</a><br>
<a href="/userprofile">update profile</a><br>
<a href=""></a><br>