 <link rel="stylesheet" href="stylesheets/user-signup.css">
 
 
  <form action="/userssignup" method="post">
        <h1>User Signup</h1>
    <h2>full name</h2>
    <input type="text" name="fullName">
    <h2>Email</h2>
    <input type="text" name="email">
    <h2>Phone Number</h2>
    <input type="number" name="phoneNumber">
    <h2>password</h2>
    <input type="password" name="Password">
    <h2>Work status</h2>
    <input type="radio" name="userType" value="fresher">
    <label>fresher</label> 
    <input type="radio" name="userType" value="worker">
    <label for="">worker</label><br>
    <button>submit</button>
</form>
